<h1>About Me:</h1>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col">
        </div>
          <div class="col-md-auto">
          </div>
          <div class="col">
          </div>      
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="flex: auto;">
                <div class="card-body">
                  <p class="card-text">
                    I'm an aspiring developer who will be graduating from Kalamazoo College in June of 2023 with a Bachelors' degree in Computer Science.
                     through internships and coursework I've become very intrested in app and web development,
                    however I am a highly flexible fast learner dedicated to learning new skills required for any role.
                  </p>
                  <p class="card-text">
                    I first developed an intrest in working with computers in 6th grade, when I built my first simple HTML website in computer science club.
                    Since then I've learned a lot more, and I'm ready to enter the industry, and make things that last.
                 </p>
                 <p class="card-text">
                    In addition to my technical skills, I consider myself a creative thinker. I enjoy visual design, and designed this webpage myself.
                    I'm also a musican with experiencing composing and arranging my own music. I have made short films, and write for a weekly Dungeons & Dragons campaign
                 </p>
              </div>
            </div>
            <div class="col-xs-12" style="height:30px;"></div>
              <div class="col-xs-12" >
                <h3>SKILLS</h3>
              </div>
              <div class="row">
                <div class="col">
                  <h5>React</h5>
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"style="height: 10px">
                    <div class="progress-bar" style="width: 50%"></div>
                  </div>
                </div>
                <div class="col">
                  <h5>Angular</h5>
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                    <div class="progress-bar" style="width: 60%"></div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12" style="height:15px;"></div>
              <div class="row">
                <div class="col">
                  <h5>Javascript/Typescript</h5>
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                    <div class="progress-bar" style="width: 80%"></div>
                  </div>
                </div>
                <div class="col">
                  <h5>Java</h5>
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                    <div class="progress-bar" style="width: 50%"></div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12" style="height:15px;"></div>

              <div class="row">
                <div class="col">
                  <h5>HTML & CSS</h5>
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                    <div class="progress-bar" style="width: 80%"></div>
                  </div>
                </div>
                <div class="col">
                  <h5>Amazon Web Services(AWS)</h5>
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                    <div class="progress-bar" style="width: 40%"></div>
                  </div>
                </div>
              </div>
          </div>

        <div class="col-md-auto">
            <img [src] ="ImagePath" class="rounded-circle border border-blue border-5">

        </div>

    </div>
    <div class="row">
        <div class="col">

          <div class="col-md-auto">

          
        </div>
          </div>
          <div class="col">
          </div>      
    </div>
    <div class="col-xs-12" style="height: 300px;"></div>
    
  </div>