


<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3 sticky-top">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#resume">Resume</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#projects">Projects</a>
    </li>
  </ul>
</nav>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
  <div id="home">
  <app-home></app-home>
 </div>
  <div id="about" class="col-xs-12" style="height:75px;"></div>
  <app-about></app-about>
  <div id="resume"class="col-xs-12" style="height:75px;"></div>
  <app-resume></app-resume>
  <div id="contact" class="col-xs-12" style="height:75px;"></div>
  <app-contact></app-contact>
  <div id="projects"class="col-xs-12" style="height:75px;"></div>
  <app-projects></app-projects>
</div>
