
<div class="container-fluid text-center" style="margin:auto;">
    <div class="row">
        <h1>Resume</h1>
    </div>
<div class="row">

<div class="col-md">
<div class="card">
    <h3>Experience</h3>
	<p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
		<ng-template pTemplate="marker" let-event>
			<span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
                <i [ngClass]="event.icon"></i>
            </span>
            
		</ng-template>
		<ng-template pTemplate="content" let-event>
			<p-card [header]="event.title" [subheader]="event.date">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    view details
                  </button>
            <div class="collapse" id="collapseExample">
				<p>{{event.description}} </p>
            </div>
			</p-card>
		</ng-template>
	</p-timeline>
</div>
</div>
<div class="col-md">
    <div class="card">
        </div>
    </div>

</div>
</div>