<head><link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet"></head>

<div class="container-fluid text-center">


    <div class="col-xs-12" style="height:20px;"></div>
    
      <div class="col-md">
      <div class="row">
        <h1 style="font-size: 100px;">Evan Vicker</h1>
    </div>
    <div class="row">
        <div class="col">
        </div>
          <div class="col-md-auto">
            <h2 class="intensity"> Software Developer <i class="bi bi-dot"></i> Computer Scientist <i class="bi bi-dot"></i> Kalamazoo College '23 </h2>
          </div>
          <div class="col">
          </div>      
    </div>

        <div class="col-xs-12" style="height:50px;"></div>

    <div class="row">
    <div class="col-md-8">
      <div style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6); color:#ffff; border-style: solid;  padding: 25px 25px 25px 25px; border-color:#9C27B0">
        <h1>About Me:</h1>
        <p>
           I'm an aspiring developer graduating from Kalamazoo College in June of 2023 with a Bachelors' degree in Computer Science.
           Through internships and coursework I've become intrested in entering into frontend software development, I am a flexible and quick learner dedicated to learning new skills required for any role.
        </p>
        <p>
        I've been coding since the sixth grade, and never stopped loving the satsfaction feeling that goes along with making code that works.
        Since then I've learned a lot more, and I'm ready to enter the industry, and make bigger and better things!
      </p>
      </div>
    </div>
      <div class="col-md-4">
        <img [src] ="ImagePath" style= "height:350px;">
      </div>
    </div>
    </div>
  </div>
  
